<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col">
            <h2>Monoalphabetic Decryption</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input #PT type="text" value="" placeholder="Input PT">
        </div>
        <div class="col">
            <span>
                CT is {{CT}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input #KEY type="text" value="" placeholder="Input key">
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="test1(PT.value,KEY.value)">ดำเนินการ</button>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                Cipher text is {{CipherText}}

            </span>
        </div>
    </div>
</div>