<!doctype html>
<html lang="en">

<body>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-dark" (click)="showDiv.encryp = !showDiv.decryp;showDiv.decryp = false;">
                        Encryption
                    </div>
                    <div class="btn btn-dark" (click)="showDiv.decryp = !showDiv.encryp;showDiv.encryp = false;">
                        Decryption
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="showDiv.encryp">
                <br>
                <form>
                    <input [(ngModel)]="text.text" name="text">
                    <button type="submit" (click)="Rsa_en()">Encryption</button>
                  </form>
                  
            </div>
            <div *ngIf="showDiv.decryp">
                <form>
                    <div>{{data.text}}</div>
                    <button type="submit" (click)="Rsa_de()">Decryption</button>
                    <div>{{data_}}</div>
                  </form>
                
            </div>
        </div>
    </div>
</body>

</html>