<br>
<!doctype html>
<html lang="en">
<body>
    <div class="text_">
        <p style="text-align:center">RSA</p>
    </div>
    <div class="row">
        <textarea [(ngModel)]="text.text" name="text" class="col-md-12" rows="6" placeholder="Your Message">
        </textarea>
        <div class="col-md-4"></div>
        <button class="btn btn-primary  col-md-4 " type="submit" (click)="Rsa_en()">Encryption</button>
    </div>

    <div class="row">
        <textarea name="user_message" class="col-md-12" rows="6" placeholder="Cipher text">{{data.text}}</textarea>
        <div class="col-md-4"></div>
        <button class="btn btn-danger  col-md-4 " type="submit" (click)="Rsa_de()">Decryption</button>
        <textarea name="user_message" class="col-md-12" rows="4" placeholder="Plain text">{{data_}}</textarea>
    </div>
    
</body>

</html>