<div class="container">
    <div class="row" style="text-align:center">
        <div class="col">
            <h1>RSA Encryption</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea [(ngModel)]="text.text" name="text" rows="6" placeholder="Your Message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" type="submit" (click)="Rsa_en()">Encryption</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea name="user_message" rows="6" placeholder="Cipher text">{{data.text}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-danger" type="submit" (click)="Rsa_de()">Decryption</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea name="user_message" rows="4" placeholder="Plain text">{{data_}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="rsa-de">Decryption</a>
        </div>
    </div>
</div>