.card {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
    align-items: center;
    margin: auto;
}

.btn {
    transition: 0.3s;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.nav-link:hover{
    color: white;
    background-color: blue;
}
.img{
    width: auto;
    height: 870px;
    background-color: black;
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    /* position: absolute; */
}