<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="">
      Security
    </a>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills ms-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="shift-en">Shift</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="monoalphabetic-en">Monoalphabetic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="vigenere-en">Vigenere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="rsa-en">RSA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <div class="img">
    <br>
    <div class="card ">
      <div class="row">
        <div class="col-1">
          <div class="btn" (click)="onBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
      <br>
    </div>
  </div>
</div>