<!doctype html>
<html lang="en">
<body>
    <!-- <h1>Hello, world!</h1> --><br><br>
    <div class="col-md">
        <input #P type = "text" value="" placeholder="Input P"><br>
        <input #Q type = "text" value="" placeholder="Input Q"><br>
        <button type = "button" (click)="cal(P.value,Q.value)">ดำเนินการ</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">N</div>
            <div class="col">R</div>
            <div class="col">E</div>
            <div class="col">D</div>
            <div class="w-100"></div>
            <div class="col">{{N}}</div>
            <div class="col">{{R}}</div>
            <div class="col">{{E}}</div>
            <div class="col">{{D}}</div>
        </div>
    </div>
</body>
</html>

