<div class="container">
    <div class="row">
        <div class="btn btn-outline-success" (click)="goShift()">
            Shift
        </div>
    </div>
    <div class="row">
        <div class="btn btn-outline-info" (click)="goMono()">
            Monoalphabetic
        </div>
    </div>
    <div class="row">
        <div class="btn btn-outline-warning" (click)="goVige()">
            Vigenere
        </div>
    </div>
    <div class="row">
        <div class="btn btn-outline-danger" (click)="goRSA()">
            RSA
        </div>
    </div>
</div>